

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>signin</title>
    <meta charset="utf-8">
  </head>
  <body>    
    <form method="POST" action="/signin">
  Login:
  <input type="text" required name="login">
  <br>
  Password:
  <input type="password" required name="password">
  <br>
  Name
  <input type="text" required name="name">
  <br>
  Color1
  <input type="color" required name="color1">
  <br>
  Color2
  <input type="color" required name="color2">
  <br>
  <input type="submit" value="Sign in">
</form>


  </body>
</html>