

<!Doctype html>
<html>
    <head>
        <meta name="description" content="A cool thing made with Glitch">
        <meta charset="utf-8">
       <script src="/client.js" defer></script>
    </head>
    <body>
        <div id="main">
          Hello <span id="nom"></span>!
           <br>
          </div>
          <span id="users">
            
          </span>
          <!--{% for i in range(0, liste.length) %}
          <tr><td>{{liste[i].name}}</td></tr>
      {% endfor %}
        </div> -->
    </body>
</html>

